
node/scraper/node_modules/
/home/ubuntu/workspace/.c9
/home/ubuntu/workspace/.idea
/home/ubuntu/workspace/client
/home/ubuntu/workspace/node
/home/ubuntu/workspace/node_modules
/home/ubuntu/workspace/zoning-codes-transcribed
/home/ubuntu/workspace/index.html
/home/ubuntu/workspace/input_file.js
/home/ubuntu/workspace/jquery.min.js
/home/ubuntu/workspace/package.json
/home/ubuntu/workspace/READ_ME.txt
/home/ubuntu/workspace/README.md
/home/ubuntu/workspace/server.js