body {
  padding: 50px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  background-color: #dcecf5;
}

a {
  color: #00B7FF;
}

.datatable {
  width: 100%;
  background-color: #ffffff;
}

.datatable td {
  border-top: 1px solid #cccccc;
  padding: 5px;
}

h1 {
  font-size: 48px;
  font-weight: 100;
}

.datatable th {
  background-color: #eeeeee;
  border-bottom: 1px solid #cccccc;
  text-align: left;
  font-weight: normal !important;
  padding: 10px;
}